.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 15px;
  gap: 30px;
}
@media (max-width: 930px) {
  .grid {
    gap: 20px;
  }
}

@media (max-width: 680px) {
  .home {
    padding-top: 60px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
