@import "./../../scss/variables";

.post {
  padding: 15px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.left {
  flex: 0 0 60%;
}
.img {
  width: 100%;
  height: 450px;
  background-color: $gray;
  opacity: 0.7;
}
.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.text {
  color: $gray;
  margin-bottom: 20px;
  font-size: 18px;
}
.author {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .post {
    gap: 30px;
  }
  .img {
    height: 300px;
  }
  .right {
    padding-top: 0;
  }
  .title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .author {
    font-size: 14px;
  }
}
@media (max-width: 930px) {
  .post {
    gap: 20px;
  }
  .img {
    height: 300px;
  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .author {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .post {
    flex-direction: column;
  }
  .left,
  .right {
    width: 80%;
  }
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .author {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .left,
  .right {
    width: 90%;
  }
}
