@import "./../../scss/variables";

.post {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-decoration: none;
  color: $dark;
}
.img {
  width: 100%;
  height: 300px;
  background-color: $gray;
  opacity: 0.7;
  margin-bottom: 20px;
}
.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.author {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .img {
    height: 250px;
  }
  .title {
    font-size: 16px;
  }
  .author {
    font-size: 12px;
  }
}
@media (max-width: 930px) {
  .img {
    height: 180px;
  }
  .title {
    font-size: 14px;
  }
  .author {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .img {
    height: 150px;
  }
}
