@import "./../../scss/_variables";

.footer {
  background-color: $dark;
  padding: 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  margin-bottom: 20px;
}
.copyright {
  color: $gray;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
    margin-bottom: 15px;
  }
  .copyright {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .copyright {
    font-size: 12px;
  }
}
