.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  margin-bottom: 50px;
  height: 100%;
}

.title {
  font-weight: 600;
}

@media (max-width: 425px) {
  .img {
    width: 90%;
  }
  .title {
    font-size: 20px;
  }
}
